<h1 class="c-page_title">ログイン</h1>
<%= form_with scope: :session, local: true, html: { class: 'c-form' } do |f| %>
  <%= f.label :email, class: 'c-form__label' %>
  <%= f.text_field :email, class: 'c-form__text' %>
  <%= f.label :password, class: 'c-form__label' %>
  <%= f.password_field :password, class: 'c-form__text' %>
  <%= f.submit 'ログインする', class: 'c-btn c-button__success' %>
<% end %>