<h1 class="c-page_title">ユーザー登録</h1>

<%= form_with model: @user, local: true, html: { class: 'c-form' } do |f| %>
    <%= f.label :email, class: 'c-form__label' %>
    <%= f.text_field :email, class: 'c-form__text' %>

    <%= f.label :password, class: 'c-form__label' %>
    <%= f.password_field :password, class: 'c-form__text' %>

    <%= f.label :password_confirmation, class: 'c-form__label' %>
    <%= f.password_field :password_confirmation, class: 'c-form__text' %>

    <%= f.submit nil, class: 'c-btn c-button__success' %>
<% end %>