body {
    /* 画像ファイルの指定 */
    background-image: image-url('bg.jpeg');
  
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
  
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
  
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
  
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
  
  }