<h1 class="c-page_title">メモの編集</h1>

<%= link_to '一覧', memos_path, class: 'c-link'%>

<%= form_with model: @memo, local: true, html: { class: 'c-form' } do |f| %>
    <%= f.label :title, class: 'c-form__label' %>
    <%= f.text_field :title, class: 'c-form__text' %>

    <%= f.label :memo_text, class: 'c-form__label' %>
    <%= f.text_area :memo_text, class: 'c-form__textarea' %>

    <%= f.submit nil, class: 'c-btn c-button__success' %>
<% end %>