<div class="test">
    <li>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
    </li>
</div>



<header>
    <%= link_to 'ユーザー登録', new_user_path %>
    <%= link_to 'ログイン', login_path %>
    <%= link_to 'ログアウト', logout_path, method: :delete, class: 'c-header__nav' %>
    <% if current_user && current_user.email %>
        <span class="c-header__nav">
            <%= t 'memos.welcom_user', :user_email => current_user.email %>
        </span>
    <% end %>
</header>

<h1 class="c-page_title"><%= t 'memos.title' %></h1>

<%= link_to 'メモの登録', new_memo_path, class: 'c-btn'%>
<%= link_to 'CSV出力', memos_path(format: :csv), class: 'c-btn'%>
<%= form_tag import_memos_path, multipart: true, html: { class: 'c-form' } do %>
    <%= file_field_tag :file %>
    <%= submit_tag "インポート", class: 'c-btn c-button__success' %>
<% end %>

<table class="c-table">
    <tbody class="c-table__body">

        <%# @memosにはmemosテーブルの情報が[{id: 1, title: "テストタイトル", memo_text: "買い物"}, {id: 2, title: "テスト2", memo_text: "掃除"}]のような配列の形式で
        データが入っている。繰り返し処理をするためのeach文を使うことでレコードを一つ一つ変数「memo」の中に格納している。
        配列の中身が全て出力されるまで繰り返されるのでその回数文のメモのタイトルと作成日時が表形式で出力される %>

        <% @memos.each do |memo| %>
            <tr class="c-table__tr">
                <td class="c-table__td">
                    <%= link_to memo.title, memo, class: 'c-link'%>
                </td>
                <td class="c-table__td">
                    <%= memo.created_at %>
                </td>

                <td class="c-table__td">
                    <%= link_to '編集', edit_memo_path(memo), class: 'c-link'%>
                </td>

                <td class="c-table__td">
                    <!-- link_toでは何も指定しなければHTTPメソッドにはGETが指定される。削除のためにはDELETEに送る必要があるので「method: :delete」を指定する。 -->
　　　　　　　　　　　　<!-- javascriptのalertの機能を使用して確認ダイアログも表示している。 -->
                    <%= link_to '削除', memo_path(memo), method: :delete, data: { confirm: "日記「#{memo.title}」を削除します。よろしいですか？"}, class: 'c-btn c-btn--danger' %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<div>
    <%= paginate @memos %>
</div>