<h1 class="c-page_title">メモ登録</h1>

<%= link_to '一覧', memos_path, class: 'c-link'%>

<%= form_with model: @memo, local: true, html: { class: 'c-form' } do |f| %>
    <%= f.label :title, class: 'c-form__label' %>
    <%= f.text_field :title, class: 'c-form__text' %>
　　　<%# :title ではなく "title"のような文字列指定をすることもできるが、シンボルを使用したほうがメモリの消費量が少なくて済む。 %>

    <%# <label for="" class="c-form__label">Title</label>
    <input type="text" class="c-form__text" name="title"> のようなHTMLを作成している。%>


    <%= f.label :memo_text, class: 'c-form__label' %>
    <%= f.text_area :memo_text, class: 'c-form__textarea' %>
    <%= f.submit nil, class: 'c-btn c-button__success' %>
<% end %>