<!DOCTYPE html>
<html>
  <head>
    <title>MemoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# メッセージが存在すればメッセージを表示する。 %>
    <% if flash.notice.present? %>
      <div class="c-alert c-alert--success">
        <%= flash.notice %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
